<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Collection | CC</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Raleway" rel="stylesheet">
  </head>
  <body>
    <div class = 'nav'>
      <div><p><a href = "/create/">Create</a></div>
      <div><p><a href = "/logout/">Logout</a></p></div>
    </div>
    <div class = "secret-header">
      <h1>Code Cat Collection</h1>
    </div>
    {{#codes}}
    <div class = "box">
      <h2 id = "title-link"><a href = "/{{_id}}/">{{title}}</a></h2>
      <p><code>{{codeBody}}</code></p>
      <p>Notes: {{notes}}</p>
      <p>Language: {{language}}</p>
      <p>{{tags}}</p>
    </div>
    {{/codes}}
  </body>
</html>
