<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create | CC</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="/static/cat-fav.ico" rel="icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Raleway" rel="stylesheet">
  </head>
  <body>
    <div class = 'nav'>
      {{#user}}
      <div><p><a href = "/language/css">CSS</a></div>
      <div><p><a href = "/language/html">HTML</a></div>
      <div><p><a href = "/language/java">Java</a></div>
      <div><p><a href = "/language/javascript">JavaScript</a></div>
      <div><p><a href = "/language/nodejs">NodeJS</a></div>
      <div><p><a href = "/language/php">PHP</a></div>
      <div><p><a href = "/language/python">Python</a></div>
      <div><p><a href = "/language/sql">React</a></div>
      <div><p><a href = "/language/ruby">Ruby</a></div>
      <div class = "pink"><p><a href = "/collection/">My Collection</a></div>
        <div class = "pink"><p><a href = "/logout/">Logout</a></p></div>
        <div><p>Hello {{ username }}</em></p></div>
        {{/user}}
    </div>
    <div class = "new-box-wrapper">
      <div class = "new-box">
      <h2>Create a New Code Snippet</h2>
      <form action = "/create/" method="post" id = "new-form">
        <p>
          <input type = "text" id = "title" name = "title" placeholder="Title: " autofocus/>
        </p>
        <p>
          <textarea name = "codeBody" id = "codeBody" form =  "new-form" placeholder="Code Snippet: "></textarea>
        </p>
        <p>
          <textarea name = "notes" id = "notes" form =  "new-form" placeholder="Notes: "></textarea>
        </p>
        <p>
          <input type="text" name="language" id="language" placeholder="Language: " />
        </p>
        <p>
          <input type = "text" name = "tags" id = "tags" placeholder="Tags (please separate by commas) "/>
        </p>
        <p>
          <button type = "submit">Create</button>
        </p>
      </form>
    </div>
    </div>
  </body>
</html>
