<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login | CC</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="/static/cat-fav.ico" rel="icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Raleway" rel="stylesheet">
  </head>
  <body>
    <div class = 'nav'>
      <div><p><a href = "/">Cancel</a></div>
        <div><p><a href = "/register/">Register</a></p></div>
    </div>
    <div class = 'main-login-box'>
      <h1>Code Cat</h1>
      {{#messages.error}}
          <div class="alert alert-danger" role="alert">
            {{.}}
          </div>
      {{/messages.error}}
        <form method="post" action = '/login/'>
          <div><p><input type = "text" id = 'username-input' name = "username" placeholder="Username" autofocus/></p></div>
          <div><p><input type="password" id = 'password-input' name = "password" placeholder="Password"/></p></div>
          <p><button type = "submit" id = "login-button">Login</button></p>
        </form>
      </div>
    </div>
  </body>
</html>
