<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register | CC</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="/static/cat-fav.ico" rel="icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Raleway" rel="stylesheet">
  </head>
  <body>
    <div class = 'nav'>
      <div><p><a href = "/">Cancel</a></div>
        <div><p><a href = "/login/">Login</a></p></div>
    </div>
    <div class = 'main-login-box'>
      <h1>Code Cat</h1>
      <h2>Create an account</h2>
      {{#messages.error}}
      <div class="alert alert-danger" role="alert">
        {{.}}
      </div>
      {{/messages.error}}
      <form method="post" action = '/register/'>
      <div><p><input type = "text" id = 'name-input' name = "name" placeholder="Name" autofocus/></p></div>
      <div><p><input type = 'text' id = 'username-input' name = 'username' value = "{{username}}" placeholder="Username" /></p></div>
      <div><p><input type = 'password' id = 'password-input' name = 'password' placeholder="Password"/></p></div>
      <button type = 'submit' id = "login-button">Register</button>
    </form>
  </div>
  </body>
</html>
