<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/styles.css">

  </head>
  <body>
    <h1>Secret Page</h1>
    <p><a href = "/logout/">Logout</a></p>
    {{#codes}}
    <p>{{title}}</p>
    <p>{{codeBody}}</p>
    <p>{{notes}}</p>
    <p>{{language}}</p>
    <p>{{tags}}</p>
    {{/codes}}
  </body>
</html>
