<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Secret Page</h1>
    <p><a href = "/logout/">Logout</a></p>
    <h2>Code data should be displayed here.</h2>
    {{#code}}
    <p>{{title}}</p>
    {{/code}}
  </body>
</html>
