<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Raleway" rel="stylesheet">
  </head>
  <body>
    <div class = 'nav'>
      <div><p><a href = "/collection/">Home</a></div>
        <div><p><a href = "/logout/">Logout</a></p></div>
    </div>
    {{#codes}}
    <div class = "single-snippet">
      <h2>{{title}}</h2>
      {{codeBody}}
      {{notes}}
      {{language}}
      {{tags}}
      {{/codes}}
    </div>
  </body>
</html>
