body{
  margin: 0;
  background: #FB7F7F;
}

h1{
  font-family: 'Libre Barcode 39 Text', cursive;
}

h2, h5{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: black;
}

p{
  font-family: 'Raleway', sans-serif;
}

.written {
  color: #FB7F7F;
}

.nav{
  display: flex;
  justify-content: flex-end;
  padding-right: 4em;
  background-color: #1B1927;
}

.nav p, .nav a{
  padding: 5px;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.nav p{
  padding: 5px;
  color: #2ED7C2;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.nav a:hover{
  color: #FB7F7F;
  border-bottom: solid 1px #FB7F7F;
}

.main-header{
  text-align: center;
  height: 50vh;
  text-transform: uppercase;
}

.main-header h1{
  padding-top: 15vh;
  color: white;
  font-size: 10em;
}

.main-login-box{
  text-align: center;
  margin-top: 10em;
}

.main-login-box h1{
  color: white;
  font-size: 6em;
  margin-bottom: .3em;
}

#username-input, #password-input, #name-input {
  width: 25em;
  height: 2.1em;
  font-family: 'Raleway', sans-serif;
  outline: none;
}

#login-button{
  background-color: black;
  border: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  height: 2.5em;
  width: 10em;
  font-size: 1em;
}

#login-button:hover{
  cursor: pointer;
  color: #FB7F7F;
}

.secret-header h1{
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 6em;
  margin: 5% 0%;
}

.box{
  width: 60%;
  margin: 20px auto;
  background-color: white;
  padding: 15px 25px 15px 25px;
}

.single-box{
  width: 60%;
  margin: 8% auto;
  background-color: white;
  padding: 15px 25px 15px 25px;
}

.new-box-wrapper{
  text-align: center;
}

.new-box-wrapper textarea {
  width: 300px;
  height: 100px;
}

.new-box-wrapper input{
  width: 300px;
}

.new-box{
  width: 40%;
  margin: 5% 30%;
  background-color: white;
  padding: 3% 0;
}


#title-link a{
  text-decoration: none;
  border-bottom: solid 1px black;
  cursor: pointer;
  color: black;
}

#title-link a:hover{
  color: #2ED7C2;
}

.form-buttons{
  display: inline-block;
  width: 100px;
}

.del-edit-btn{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  border: solid 1px #FB7F7F;
  background-color: #FB7F7F;
  color: white;
  width: 100px;
  height: 35px;
  font-size: 15px;
}

.del-edit-btn:hover{
  color:black;
  cursor: pointer;
}

#language-link {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  border-bottom: solid 1px black;
}

#language-link:hover{
  color:#2ED7C2;
}

#tags, .code-tags{
  text-transform: lowercase;
}

.tag-format{
  width: 100px;
  text-align: center;
  display: inline-block;
  background-color: #2ED7BD;
}

.tag-format a{
  text-decoration: none;
  color: white;
}

.tag-format a:hover{
  color: black;
}
